<section class="section-one-news py-5">
    <div class="container-md">
        <h2 class="text-left mb-4">Новости</h2>
        <div class="row">
            <div class="col">
                <p class="news-text m-0"><img src="assets/img/news/news-1.png" class="float-left pr-3 img-fluid" alt="photo-news">
                    <h4>Название новости</h4>
                    <p class="news-date">21.02.2020</p>
                    Вторым критерием качества выступает устойчивость материала к истиранию. Под истираемостью понимается способность плитки изменять свои параметры (массу или объем) под влиянием истирающих усилий, например, при движении автотранспорта или при перемещении большой массы людей.Вторым критерием качества выступает устойчивость материала к истиранию. Под истираемостью понимается способность плитки изменять свои параметры (массу или объем) под влиянием истирающих усилий, например, при движении автотранспорта или при перемещении большой массы людей. Вторым критерием качества выступает устойчивость материала к истиранию. Под истираемостью понимается способность плитки изменять свои параметры (массу или объем) под влиянием истирающих усилий, например, при движении автотранспорта или при перемещении большой массы людей.
                </p>
            </div>
        </div>
    </div>
</section>