<div class="navbar navbar-expand-lg navbar-light navbar-top bg-white">
    <div class="container-fluid container-xl">
    <div class="row row-cols-2 justify-content-between w-100">
        <div class="col-12 col-sm-5 col-md-auto brand d-flex align-items-center">
            <a class="navbar-brand" href="/">
                <h1 class="text-hide" style="background-image: url('./assets/img/svg/logo.svg');">Нова строй</h1>
            </a>
            <p class="navbar-top__title m-0">Завод бетонных изделий</p>
        </div>
        <div class="col-auto d-sm-flex align-items-center d-none">
            <div class="media align-items-center ml-3 d-none d-md-flex">
                <h4 class="fas fa-map-marker-alt m-0 text-muted"></h4>
                <div class="media-body media-body__address ml-3">
                    <h6 class="mt-0">Моск. область, посёлок Нахабино, ул Победы дом 3</h6>
                    <p class="text-muted m-0">Ежедневно с 09:00 - 20:00</p>
                </div>
            </div>
            <div class="media align-items-center ml-3">
                <div class="media-body media-body__contact ml-3">
                    <h5 class="m-0 font-weight-bold">+7 495 374 70 61</h5>
                    <a href="#" class="text-dark">
                        <i class="fab fa-whatsapp text-success"></i>
                        Написать в WhatsUp
                    </a>
                </div>
            </div>
            <button type="button" class="btn btn-outline-danger btn-call ml-3 px-4 py-2">Заказать звонок</button>
        </div>
    </div>
</div>
</div>