

//bootstrap
$light: #f9f9f9;
$secondary: #ebebeb;
$gray-600: #8C8C8C;
$yellow: #FDD572;
$orang: #E1D29C;
$red: #E97A5A;
$red2: #B61320;
$red3: #EB5757;
$blue: #334292;
$green: #39AE2D;



$enable-rounded: true;
$enable-responsive-font-sizes: true;
$border-radius: 30px;

$font-family-sans-serif: "Roboto", sans-serif;
$font-family-source-rpo: 'Source Sans Pro', sans-serif;
//slick
$slick-loader-path: '../../assets/img/';

//light gallery
$backdrop-opacity: .5;


//формирование базы шрифта
$size: 16px;
$line_height: 21px;
$family: $font-family-sans-serif;
$weight:400;
$va:18;

:root {
  --swiper-theme-color: #E97A5A;
}
/*

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1280px
);
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1220px
);*/
