// style.scss
// Option B: Include parts of Bootstrap

@charset "utf-8";

@import "settings";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~bootstrap/scss/mixins/grid-framework";
@import "~bootstrap/scss/mixins/grid";
@import "~hover.css/scss/options";
@import "~hover.css/scss/mixins";
@import "~hover.css/scss/hacks";
@import "~bourbon/core/bourbon.scss";
@import "functions/functions";
@import "mixin/mixin";
@import "global";

@import "~glider-js/glider.min.css";

@import "components/header/header";
@import "components/section-header";
@import "components/section-catalog";
@import "components/section-advantages";
@import "components/section-video";
@import "components/section-questions";
@import "components/section-consultation";
@import "components/section-certificate";
@import "components/section-price";
@import "components/section-answer-questions";
@import "components/section-form-questions";
@import "components/section-gallery";
@import "components/section-delivery";
@import "components/footer";
@import "components/section-news";
@import "components/section-one-news"; 
@import "components/section-information";
@import "components/page/section-catalog-category";
@import "components/section-mm-about-us";
@import "components/pagination-arow/pagination-arow";
@import "components/section-our-leader";
@import "components/sections-our-qualiti";
@import "components/section-404";


