
.pagination-arow {
    
    a {
        border: none;
        color: black;
        font-weight: 500;

        &:hover {
            color: $red;
            background: none;
        }
    }

    .active {
        color: $red;
    }

    .btn {
        &:hover {
          .arrow {
            svg {
              pointer-events: fill;
              fill: $light;
            }
          }
        }
    }
}

@include media-breakpoint-down(xs) {
    .pagination-arow {
        ul li {
            display: none;
        }
    }
  }