<section class="section-price position-relative pt-5 py-sm-5">
    <div class="container-md">
        <div class="row flex-column flex-sm-row justify-content-between align-items-center">
            <div class="col-12 col-sm-6  col-md-4 z-1">
                <div class="card p-md-4">
                    <div class="card-body">
                        <h5 class="text-center mb-5">Скачайте оптовый лист</h5>
                        <form class="section-consultation__form">
                            <div class="form-group position-relative">
                                <i class="user-icon position-absolute"></i>
                                <input type="text" class="form-control mt-4" id="exampleInputName"
                                       placeholder="Имя">
                            </div>
                            <div class="form-group position-relative">
                                <i class="phone-icon position-absolute"></i>
                                <input type="text" class="form-control mt-4" id="exampleInputPhone"
                                       placeholder="Телефон">
                            </div>
                            <div class="form-group position-relative">
                                <i class="email-icon position-absolute"></i>
                                <input type="text" class="form-control mt-4" id="exampleInputЕmail" placeholder="Почта">
                            </div>
                            <button type="submit" class="btn btn-warning w-100 mt-4">Скачать прайс-лист</button>


                            <p class="text-center text-muted mt-4 mb-0">Нажимая на кнопку “Получит консультацию” вы
                                даёте согласие на обработку <a href="">
                                    персональных данных
                                </a></p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-5 z-1">
                <div class="card  bg-transparent border-0">
                    <div class="card-body px-0 px-sm-3">
                        <h2 class="card-body__title mb-4 text-center text-md-left">Оптовым покупателям</h2>
                        <h5 class="card-body__description mb-5">
                            Приглашаем к взаимовыгодному сотрудничестув оптовых покупателей и готовы ответить на все
                            ваши вопросы по телефону <span class="font-weight-bold">+7 (495) 374 70-61</span> или напишите нам
                            на почту <span class="font-weight-bold">info@nova-st.ru</span>
                        </h5>
                        <ul class="list-unstyled">
                            <li class="py-2"><i class="offer-icon"></i><span class="ml-2 ml-md-5">Оптовые скидки от объема</span></li>
                            <li class="py-2"><i class="money-icon"></i><span class="ml-2 ml-md-5">Низкие цены от производителя</span></li>
                            <li class="py-2"><i class="package-icon"></i><span class="ml-2 ml-md-5">Гибкие условия оплаты</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>