<section class="section-catalog p-5">
    <div class="container-fluid">
        <h2 class="display-4 font-weight-bold">Каталог</h2>
        <div class="row row-cols-5">
            {{#repeat 9}}
            <div class="col mt-4">
                <div class="card bg-white text-white border-r0">
                    <img src="assets/img/сatalog/catalog.png"/>
                    <div class="card-img-overlay">
                        <a href="#" class="stretched-link text-dark text-decoration-none">
                            <h5 class="card-title text-center">Тротуарная плитка</h5>
                        </a>
                    </div>
                </div>
            </div>
            {{/repeat}}
            <div class="col mt-4">
                <div class="card card-catalog bg-white text-white border-r0 " style="padding: 76px">
                    <i class="card-menu"></i>
                    <!--<img src="assets/img/сatalog/menu-card.png" height="44" width="44"/>-->
                    <div class="card-img-overlay">
                        <a href="#" class="stretched-link text-dark text-decoration-none">
                            <h4 class="card-title text-center"> В каталог</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>