<section class="section-video position-relative py-5">
    <div class="container py-5 py-md-0">
        <div class="row justify-content-between position-relative">
            <div class="col-md-3 position-relatuve z-1">
                <h2 class="section-video__title h1 text-left text-white">О нас</h2>
                <div class="section-video__description position-absolute bottom-block">
                    <p class="text-left text-white">Посмотрите видео или фото и узнайте больше о нашей компании</p>
                </div>
            </div>
            <div class="col position-absolute h-100 z-1">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <a class="section-video__link" href="#">
                        <i class="play"></i>
                    </a>
                </div>
            </div>
            <div class="col-4 position-relative z-1 d-none d-md-block">
                <h6 class="text-left text-white">Галерея</h6>
                {{>carousel-video-gallery}}

            </div>
        </div>

    </div>
</section>