<section class="section-form-questions position-relative pb-5 py-md-5">
    <div class="container z-1">
            <div class="row flex-column justify-content-center align-items-center">
                <div class="col-12 col-md-7 z-1 mb-5">
                    <h2 class="text-center">Готовы заказать или есть дополнительные вопросы?</h2>
                </div>
                <div class="col-12 col-md-10 z-1">
                    <div class="card p-md-4">
                        <div class="card-body">
                            <form class="section-form-questions__form row flex-column flex-md-row">
                                <div class="col form-group position-relative align-self-start">
                                    <i class="icon user-icon position-absolute"></i>
                                    <input type="text" class="form-control" id="exampleInputName"
                                           placeholder="Имя">
                                </div>
                                <div class="col form-group position-relative align-self-start">
                                    <i class="icon phone-icon position-absolute"></i>
                                    <input type="text" class="form-control" id="exampleInputPhone"
                                           placeholder="Телефон">
                                </div>
                                <div class="col">
                                    <button type="submit" class="btn btn-warning w-100">Скачать прайс-лист</button>


                                    <p class="text-center text-muted mt-4 mb-0">Нажимая на кнопку “Получит консультацию” вы
                                        даёте согласие на обработку <a href="">
                                            персональных данных
                                        </a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>