<section class="section-answer-questions position-relative py-5">
    <div class="container">
        <h2 class="text-left d-inline">Ответы на часто задавемые вопросы</h2>

        <div class="card justify-content-between border-0 mt-5">
            <div class="row no-gutters">
                <div class="col-md-6">
                    {{>collapse}}
                </div>
                <div class="col-md-6 d-flex justify-content-center p-5">
                    <img class="card-img" src="assets/img/answer-questions.png"/>
                </div>
            </div>
        </div>
    </div>
</section>