<section class="section-video position-relative py-5">
    <div class="container-lg py-5 px-md-5 py-lg-0">
        <div class="row justify-content-between position-relative">
            <div class="col-md-3 position-relatuve z-1">
                <h2 class="section-video__title h1 text-left text-white">О нас</h2>
                <div class="section-video__description position-absolute bottom-block">
                    <p class="text-left text-white">Посмотрите видео или фото и узнайте больше о нашей компании</p>
                </div>
            </div>
            <div class="col position-absolute h-100 z-1">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <a class="section-video__link" href="#">
                        <i class="play"></i>
                    </a>
                </div>
            </div>
            <div class="col-4 position-relative z-1 d-none d-md-block">
                <h6 class="text-left text-white">Галерея</h6>
                {{>carousel-video-gallery}}

            </div>
        </div>


    </div>
</section>


    <div class="row justify-content-center  d-md-none mx-3">
        <h6 class="text-left">Галерея</h6>
        <div class="swiper-container swiper-video w-100 h-100">
            <div class="row swiper-wrapper  swiper-video__wrapper">
                {{#repeat 20}}
                <div class=" swiper-slide swiper-video__slide position-relative">
                    <div class="card border-0 border-r0 position-absolute">
                    <img class="img-fluid" src="assets/img/gallery-home.jpg">
                    </div>
                </div>
                {{/repeat}}
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
