<section class="section-consultation position-relative py-5">
    <div class="container-lg">
        <div class="row justify-content-between justify-content-md-around align-items-center">
            <div class="col-12 col-sm-5 col-md-4 z-1">
                <div class="card p-lg-4">
                    <div class="card-body">
                        <h5 class="text-center mb-md-5" >Получить консультацию</h5>
                        <form class="section-consultation__form">
                            <div class="form-group position-relative">
                                <i class="user-icon position-absolute"></i>
                                <input type="text" class="form-control mt-4" id="exampleInputName"
                                       placeholder="Имя">
                            </div>
                            <div class="form-group position-relative">
                                <i class="phone-icon position-absolute"></i>
                                <input type="text" class="form-control mt-4" id="exampleInputPhone" placeholder="Телефон">
                            </div>
                            <button type="submit" class="btn btn-warning w-100 mt-4">Получить консультацию</button>


                        <p class="text-center text-muted mt-4 mb-0">Нажимая на кнопку “Получит консультацию” вы даёте согласие на обработку <a href="">
                            персональных данных
                        </a></p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 z-1">
                <div class="card  bg-transparent border-0">
                    <i class="consultation"></i>
                    <div class="card-img-overlay offset-2 d-flex align-items-center">
                        <h5 class="card-body__description text-white">
                            Получите бесплатную консультацию по выбору тротуарной плитки и мы расскажем, на чем можно
                            сэкономить без потери качества материала и работ
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>