
.control-swiper {
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);

  &__next {
    transform: rotate(180deg);
  }

  .btn {
    &:hover {
      .arrow {
        svg {
          pointer-events: fill;
          fill: white;
        }
      }
    }
  }
}