
.swiper-container {

  .swiper-video {
    &__wrapper {
      height: calc(75px * 5);
      width: calc(133px * 2);
    }

    &__slide {
      text-align: center;
      font-size: 18px;
      background: transparent;
      height: calc((100% - 5px) / 4);

      /* Center slide text vertically */
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}