
.section-price {
  background-image: url("../img/watts-roofing.jpg");
  background-position: -20%;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $orang;


  .card{
    &-img-overlay{
      width: 420px;
    }
  }

  .card-body{
    &__description{
      font-weight: lighter;
    }
  }

  &__form{
    p{
      @include fonts(12, 14)
    }
    .form-group{
      i{
        top: 50%;
        right: 5%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .section-price {
    background-position-y: 0%;

    .card{
      &-body{
        &__description{
          font-size: 15px;
          text-align: center;
        }
      }
    }
  }
}
@include media-breakpoint-up(sm) {
  .section-price {
    background-position-x: rem-calc(-300px);

  }
}
@include media-breakpoint-up(md) {
  .section-price {
    background-position: -20%;

  }
}