.section-news {

    .news-date {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.5);
    }

    .btn {
      &-call {
        @include fonts(14, 16);

        &:hover {
          color: #fff;
        }
      }
    }
}