.section-mm-about-us {
    .video-us {

        .btn-play-us {
            background: #FDFDFD;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            cursor: pointer;
            
            img {
                padding-left: 43%;
                padding-top: 27%;
            }

        }
        img {
            border-radius: 10px;
        }
    }

}