.section-news {

    .news-date {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.5);
    }

    .btn {
        &-call {
          @include fonts(14, 16);
  
          &:hover {
            color: #fff;
          }
        }
      }

    .pagination-news {
    
        a {
            border: none;
            color: black;
            font-weight: 500;

            &:hover {
                color: $red;
                background: none;
            }
        }

        .active {
            color: $red;
        }

        .btn {
            &:hover {
              .arrow {
                svg {
                  pointer-events: fill;
                  fill: $light;
                }
              }
            }
        }
    }
}

@media (max-width: 575.98px) {
    .section-news {
        .pagination-news {
            ul li {
                display: none;
            }
        
            .control-swiper__prev {
                margin-right: 8px!important;
            }
            .control-swiper__next {
                margin-left: 8px!important;
            }
            
        }
    }
}
