
.footer {
  .navbar-brand {
    h1 {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: rem-calc(100px);
      height: rem-calc(41px);
    }
  }

  .brand {
    &__card {
    opacity: .6;
      &:hover{
        cursor: pointer;
        opacity: 1;
      }
    }
  }
  .media {
    &-body {
      &__address {
        h6 {
          @include fonts(12, 15)
        }

        p {
          @include fonts(12, 15)
        }
      }

      &__contact {
        h5 {
          @include fonts(16, 19)
        }

        a {
          @include fonts(14, 16)
        }
      }
    }
  }

  .btn {
    &-call {
      @include fonts(14, 16);

      &:hover {
        color: #fff;
      }
    }
  }
}