<div class="row justify-content-center align-items-center modal-consultation">
    <div class="col-12 col-sm-5 col-md-4 z-1">
        <div class="card p-lg-4">
            <div class="card-body">
                <h5 class="text-center mb-md-5" >Заполните форму и мы с вами свяжемся!</h5>
                <form class="section-consultation__form">
                    <div class="form-group position-relative">
                        <i class="user-icon position-absolute"></i>
                        <input type="text" class="form-control mt-4" id="exampleInputName"
                            placeholder="Имя">
                    </div>
                    <div class="form-group position-relative">
                        <i class="phone-icon position-absolute"></i>
                        <input type="text" class="form-control mt-4" id="exampleInputPhone" placeholder="Телефон">
                    </div>
                    <button type="submit" class="btn btn-warning w-100 mt-4">Заказать звонок</button>


                <p class="text-center text-muted mt-4 mb-0">Нажимая на кнопку “Заказать звонок” вы даёте согласие на обработку <a href="">
                    персональных данных
                </a></p>
                </form>
            </div>
        </div>
    </div>
</div>