<!-- Modal feedback-->
<div class="modal fade" id="modalThanks" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-feedback modal-dialog-centered" role="document">
        <div class="modal-content bg-transparent border-0">
            <div class="modal-header border-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="assets/img/modal-consultation/close.png" height="49" width="49"/>
                </button>
            </div>
            <div class="modal-body">
                <div class="card p-lg-4">
                    <div class="card-text mt-5 mt-md-auto px-2">
                        <h2 class="modal-title text-center" id="exampleModalCenterTitle">Спасибо за ваш заказ</h2>
                        <p class="modal-description text-center px-md-5">В ближайшее время с вами свяжется наш менеджер</p>
                    </div>
                        <ul class="nav justify-content-center align-items-center">
                            <li class="nav-item">
                                <a class="h5 nav-link active text-dark font-weight-bold" href="#"><u>На главную</u></a>
                            </li>
                            <li class="nav-item">
                                <a class="h5 nav-link text-dark font-weight-bold" href="#"><u>В каталог</u></a>
                            </li>
                        </ul>
                    <div class="card-body row position-relative justify-content-center pt-5">
                        <div class="col-12">
                            <form class="section-consultation__form form-inline">
                                <div class="form-group position-relative mb-2">
                                    <i class="email-icon position-absolute"></i>
                                    <input type="email" class="form-control" id="inputEmail"
                                           placeholder="Пошта">
                                </div>
                                <button type="submit" class="btn btn-warning mb-2 px-3 ml-md-3 mx-auto">Подписаться</button>
                            </form>
                        </div>
                    </div>
                    <div class="card-body">
                        <h6 class="text-center mb-0 fonts-size-12">Мы в соцсетях</h6>
                        <ul class="list-unstyled d-flex justify-content-center mt-4 w-100">
                            <li class="ml-1">
                                <a href="/">
                                    <img src="assets/img/footer/vk .png" height="26" width="25"/>
                                </a></li>
                            <li class="ml-1">
                                <a href="/">
                                    <img src="assets/img/footer/instagram.png" height="26" width="25"/>
                                </a>
                            </li>
                            <li class="ml-1">
                                <a href="/">
                                    <img src="assets/img/footer/facebook.png" height="26" width="25"/>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>