<section class="section-404 py-5">
        <div class="container-fluid">
            <h3 class="text-center mb-4">Упс... Такой страницы не существует! </h3>
            <div class="row justify-content-center justify-content-md-between">
                <div class="d-none col-2 col-md-4 d-md-flex align-items-start align-items-md-end">
                    <img src="assets/img/404/blocks.png" class="img-fluid" alt="blocks">
                </div>
                <div class="col-7 col-md-4 d-flex-column text-center">
                    <img src="assets/img/404/404.png" class="img-fluid mx-auto d-block" alt="404">
                    <a href="#" class="btn btn-outline-danger btn-call px-1 px-sm-5 py-2 my-2 my-sm-3 my-md-5">Вернуться назад</a>
                
                    <div class="d-flex flex-column flex-sm-row justify-content-center justify-content-md-around mb-3 mb-md-5 text-center bottom-links">
                        <a href="#" class="font-weight-bold mx-2 my-1"><u>На главную</u></a>
                        <a href="#" class="font-weight-bold mx-2 my-1"><u>В каталог</u></a>
                        <a href="#" class="font-weight-bold mx-2 my-1"><u>Контакты</u></a>
                    </div>
                    <p class="text-center font-weight-bold subscribe">Подпишитесь и следите за акциями, скидками и новостями</p>
                    <ul class="list-unstyled d-flex justify-content-center mt-3">
                        <li class="mx-1 px-1">
                            <a href="/">
                                <img src="assets/img/footer/vk .png" height="26" width="25"/>
                            </a></li>
                        <li class="mx-1 px-1">
                            <a href="/">
                                <img src="assets/img/footer/instagram.png" height="26" width="25"/>
                            </a>
                        </li>
                        <li class="mx-1 px-1">
                            <a href="/">
                                <img src="assets/img/footer/facebook.png" height="26" width="25"/>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="d-none col-2 col-md-4 d-md-flex align-items-start align-items-md-end">
                    <img src="assets/img/404/worker.png" class="img-fluid mx-auto d-block" alt="worker">
                </div>

            </div>
        </div>
    </section>