<section class="section-product py-5">
   <div class="container-lg">
      <div class="row">
         <div class="col-12">
            <div class="card border-0 mb-3">
               <div class="row no-gutters">
                  <div class="col-md-4 position-relative">
                     {{>sdider-product}}

                  </div>
                  <div class="col-md-8 px-md-5">
                     <div class="card-body">
                        <div class="card-body py-0">
                           <h6 class="card-title mb-3">01 - Шестигран</h6>
                           <ul class="list-unstyled">
                              <li class="fonts-size-14 mt-2"><span>Размер:</span><span
                                    class="float-right">250x150x60</span>
                              </li>
                              <li class="fonts-size-14 mt-2"><span>Штук в м2:</span><span class="float-right">24
                                    штук</span>
                              </li>
                              <li class="fonts-size-14 mt-2"><span>Вес:</span><span class="float-right">120 кг</span>
                              </li>
                              <li class="fonts-size-14 mt-2"><span>На паллете:</span><span class="float-right">12 м <sup>2</sup></span>
                              </li>
                           </ul>

                        </div>
                        <div class="card-body d-flex flex-column">
                           <div class="fonts-size-14 mt-2"><span>Цвета</span><span
                                 class="float-right">{{>card-color-product}}</span>
                           </div>
                           <div class="row row-cols-1 align-items-start">
                              <div class="col d-flex justify-content-between pt-5">
                                 <div class="text-left">
                                 {{>plus-minus}}
                                 <h3 class="d-inline ml-3">
                                    м <sup>2</sup>
                                 </h3>
                                 </div>
                                 <div class="font-weight-bold d-inline-flex flex-column"><span class="h4 text-gray"><del>
                                       499 &#8381;
                                    </del></span><span class="h2"> 499 &#8381;</span>
                                 </div>
                              </div>
                              <div class="col py-5 d-flex justify-content-around">
                                    <button class="btn btn-outline-danger w-30">
                                       <i class="cart-icon mr-2"></i>
                                       В корзину</button>
                                    <button class="btn btn-outline-danger w-30">Оставить заявку</button>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-12 pt-5">
            <h2 class="mb-4">Цвета</h2>
            {{>product-color}}
         </div>
      </div>
      <hr>
      <div class="row">
         <div class="card border-0 mb-3 py-5">
            <div class="row no-gutters">
               <div class="col-md-6">
                  {{>product-info}}
               </div>
               <div class="col-md-6">
                  <div class="d-flex align-items-center h-100">
                     {{>product-info-carousel}}
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col pb-5">
            <h2 class="mb-4">С этим покупают</h2>
            {{>card}}
         </div>
      </div>
   </div>
</section>