<section class="section-information py-5">
        <div class="container-md">
            <h2 class="text-left mb-4">Информация</h2>
            <div class="row">

                <a class="col-12 col-sm-6 p-2" href="news.html">
                    <div class="card border-r0 ">
                        <div class="row no-gutters align-items-center justify-content-center">
                            <div class="col-12 col-md-6">
                                <div class="card-body">
                                    <h2 class="card-title text-center">НОВОСТИ</h2>
                                </div>
                            </div>
                            <div class="col-8 col-md-6 d-flex justify-content-center p-3">
                                <img src="assets/img/information/1.png" class=" img-fluid" alt="...">
                            </div>
                        </div>
                    </div>
                </a>
                <a class="col-12 col-sm-6 p-2" href="news.html">
                    <div class="card border-r0">
                        <div class="row no-gutters align-items-center justify-content-center">
                            <div class="col-12 col-md-6">
                                <div class="card-body ">
                                    <h2 class="card-title text-center">СМИ О НАС</h2>
                                </div>
                            </div>
                            <div class="col-8 col-md-6 d-flex justify-content-center p-3">
                                <img src="assets/img/information/2.png" class="img-fluid" alt="...">
                            </div>
                        </div>
                    </div>
                </a>
                <a class="col-12 col-sm-6 p-2" href="news.html">
                    <div class="card border-r0">
                        <div class="row no-gutters align-items-center justify-content-center">
                            <div class="col-12 col-md-6">
                                <div class="card-body">
                                    <h2 class="card-title text-center">НАШ РУКОВОДИТЕЛЬ</h2>
                                </div>
                            </div>
                            <div class="col-8 col-md-6 d-flex justify-content-center p-3">
                                <img src="assets/img/information/3.png" class=" img-fluid" alt="...">
                            </div>
                        </div>
                    </div>
                </a>
                <a class="col-12 col-sm-6 p-2" href="news.html">
                    <div class="card border-r0">
                        <div class="row no-gutters align-items-center justify-content-center">
                            <div class="col-12 col-md-6">
                                <div class="card-body">
                                    <h2 class="card-title text-center">ЧАСТЫЕ ВОПРОСЫ</h2>
                                </div>
                            </div>
                            <div class="col-8 col-md-6 d-flex justify-content-center p-3">
                                <img src="assets/img/information/4.png" class=" img-fluid" alt="...">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>