
.control-info {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  &__next {
    transform: rotate(180deg);
  }

  .btn {
    &:hover {
      .arrow {
        svg {
          pointer-events: fill;
          fill: white;
        }
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .control-info {
    top: 50%;
    left: 48%;
    width: 85%;
    transform: translate(-50%, -50%);

    &__next {
      transform: rotate(180deg);
    }

    .btn {
      &:hover {
        .arrow {
          svg {
            pointer-events: fill;
            fill: white;
          }
        }
      }
    }
  }
}
