<section class="section-delivery">
	<div class="container-lg">
		<div class="card border-0 mb-3">
			<div class="row no-gutters justify-content-between align-items-center row-cols-2">
				<div class="col-12 col-md-6">
					<div class="card-body pb-0">
						<h2 class="card-title py-2 h1">Доставка</h2>
						<p class="card-text py-2">Наша компания осуществит доставку тротуарной плитки и другой продукции.</p>
						<p class="card-text py-2">Цена и условия доставки зависят от количесьва продукции и удаленности его от производства, для подробной информации звоните по телефону  или пишите на почту</p>

						<div class="card-text">
							<div class="flex-column">
								<div class="row">
									<p class="col-12 col-sm-6 col-md-12 col-xl-6 h4"><i class="phone-icon mr-2"></i> +7 (495) 191-48-10</p>
									<p class="col-12 col-sm-6 col-md-12 col-xl-6 h4"><i class="email2-icon mr-2"></i>info@nova-st.ru</p>
								</div>

								<div class="alert text-white px-4 alert-danger mt-4" role="alert">
									Так же можете воспользоваться самовывозом по адресу: 
									Московская область, поселок Нахабино, ул. Победы, дом 3
								</div>
							</div>
						</div>
						
					</div>
				</div>
				<div class="col-12 col-md-6 p-1 p-md-5 ">
					<img src="assets/img/delivery-car.png" class="mx-auto d-block img-fluid" alt="Car">
				</div>
			</div>
		</div>
		<h5 class=" mb-4">Прямо сейчас, обратившись к нам, вы можете получить:</h5>

		<div class="row mb-3 ">
			<div class="col-md-11 col-lg-9">
				<div class="row">
					{{#each delivery.delivery}}
					<div class="{{class}}">
						<div class="d-flex">
							<i class="{{line}} mr-2"></i>
							<p class="mb-3 ">{{text}}</p>
						</div>
					</div>
					{{/each}}
				</div>
			</div>
		</div>

		<p class="pre-pay py-4">Произвести предварительный расчет можно по телефону +7 (495) 508-22-54</p>

	</div>
</section>