<section class="section-our-leader py-5">
    <div class="container-md">
        <h2 class="text-left mb-4">Наш руководитель</h2>
        <div class="row">
            <div class="card mb-1 mb-md-5 border-0">
                <div class="row no-gutters justify-content-between">
                    <div class="col-12 col-md-5">
                        <img src="assets/img/our-leader/our-leader.png" class="img-fluid px-3 px-md-0" alt="..."> 
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="card-body">
                            <h3 class="card-title">Сидько Александр</h3>
                            <p class="card-text"><small class="text-muted">генеральный директор</small></p>
                            <p class="card-text">Вторым критерием качества выступает устойчивость материала к истиранию. Под истираемостью понимается способность плитки изменять свои параметры (массу или объем) под влиянием истирающих усилий, например, при движении автотранспорта или при перемещении большой массы людей.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card mb-3 border-0 card-video">
                <div class="card border-0">
                <div class="card-body">
                    <h3 class="card-title">Видеообращение</h3>
                </div>
                <div class="video-leader position-relative">
                    <button class="btn btn-leader border-r50 center-block position-absolute">
                        <img src="assets/img/our-leader/play.png" class="img-fluid" alt="play">
                    </button>
                    <img src="assets/img/our-leader/video.png" class="img-fluid px-3 px-md-0" alt="video">
                </div>
            </div>
        </div>
        
    </div>
</section>