<section class="section-mm-about-us py-5">
    <div class="container-md">
        <h2 class="text-left mb-4">СМИ о нас</h2>
        <div class="row">

            <div class="col-12 pb-4 ">
                <div class="card border-0">
                    <div class="row no-gutters justify-content-between">
                        <div class="col-12 col-md-5 ">
                            <div class="video-us position-relative">
                                <div class="btn-play-us center-block position-absolute">
                                    <img src="assets/img/mm-about-us/play.png" alt="arow-play">
                                </div>
                                <img src="assets/img/mm-about-us/mm-about-us.png" class="card-img img-fluid" alt="...">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="card-body p-0">
                                <h3 class="card-title pt-3 pt-md-0">Название</h3>
                                <p class="card-text">Вторым критерием качества выступает устойчивость материала к истиранию. Под истираемостью понимается способность плитки изменять свои параметры (массу или объем) под влиянием истирающих усилий, например, при движении автотранспорта или при перемещении большой массы людей.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 pb-4 ">
                <div class="card border-0">
                    <div class="row no-gutters justify-content-between">
                        <div class="col-12 col-md-5 ">
                            <div class="video-us position-relative">
                                <div class="btn-play-us center-block position-absolute">
                                    <img src="assets/img/mm-about-us/play.png" alt="arow-play">
                                </div>
                                <img src="assets/img/mm-about-us/mm-about-us.png" class="card-img img-fluid" alt="...">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="card-body p-0">
                                <h3 class="card-title pt-3 pt-md-0">Название</h3>
                                <p class="card-text">Вторым критерием качества выступает устойчивость материала к истиранию. Под истираемостью понимается способность плитки изменять свои параметры (массу или объем) под влиянием истирающих усилий, например, при движении автотранспорта или при перемещении большой массы людей.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-12 pb-4 ">
                <div class="card border-0">
                    <div class="row no-gutters justify-content-between">
                        <div class="col-12 col-md-5 ">
                            <div class="video-us position-relative">
                                <div class="btn-play-us center-block position-absolute">
                                    <img src="assets/img/mm-about-us/play.png" alt="arow-play">
                                </div>
                                <img src="assets/img/mm-about-us/mm-about-us.png" class="card-img img-fluid" alt="...">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="card-body p-0">
                                <h3 class="card-title pt-3 pt-md-0">Название</h3>
                                <p class="card-text">Вторым критерием качества выступает устойчивость материала к истиранию. Под истираемостью понимается способность плитки изменять свои параметры (массу или объем) под влиянием истирающих усилий, например, при движении автотранспорта или при перемещении большой массы людей.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 

            <div class="col-12 pb-4 ">
                <div class="card border-0">
                    <div class="row no-gutters justify-content-between">
                        <div class="col-12 col-md-5 ">
                            <div class="video-us position-relative">
                                <div class="btn-play-us center-block position-absolute">
                                    <img src="assets/img/mm-about-us/play.png" alt="arow-play">
                                </div>
                                <img src="assets/img/mm-about-us/mm-about-us.png" class="card-img img-fluid" alt="...">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="card-body p-0">
                                <h3 class="card-title pt-3 pt-md-0">Название</h3>
                                <p class="card-text">Вторым критерием качества выступает устойчивость материала к истиранию. Под истираемостью понимается способность плитки изменять свои параметры (массу или объем) под влиянием истирающих усилий, например, при движении автотранспорта или при перемещении большой массы людей.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            
            {{>pagination-arow}}    
                          
        </div>
    </div>
</section>